body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

/* Применяем стили ко всем изображениям внутри блока 'post-image' */
.post-image img {
    width: 90%;   /* Изображение будет растягиваться по ширине родительского контейнера */
    height: auto;  /* Сохраняется пропорциональное соотношение сторон */
    display: block;
    margin: 0 auto; /* Центрирование изображения, если требуется */
}

/* Если вы используете класс img-responsive */
.img-responsive {
    max-width: 100%;
    height: auto;
}
